*{
    background-color: aliceblue;
}

.pwebsite{
    padding: 25px;
    display: block flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pwebsite-img img{
    height: fit-content;
    width: fit-content;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border-color: black;
    display: block;
}

.pwebsite-details{
    align-self: center;
    padding: 15px;
    color: rgb(78, 83, 82);
}

.resicon{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 50px;
    width: 50px;
}

.resumeButton{
    border-radius: 50%;
    border: transparent;
    width: fit-content;
}

.inicon{
    border-radius: 50%;
    width: 50px;
}

.linkedinButton{
    border-radius: 50%;
    border: transparent;
    width: fit-content;
}