*{
    background-color: aliceblue;
}

.pwebsite{
    padding: 25px;
    display: block flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pwebsite-img img{
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border-color: black;
    display: block;
}

.pwebsite-details{
    align-self: center;
    padding: 15px;
    color: rgb(78, 83, 82);
}

.resicon{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 50px;
    width: 50px;
}

.resumeButton{
    border-radius: 50%;
    width: fit-content;
}

.resumeButton:hover .resicon{
    opacity: .5;
    transition: opacity .15s;
}

.resumeButton:active .resicon{
    opacity: .25;
    transition: opacity .15s;

}

.inicon{
    border-radius: 50%;
    width: 50px;
}

.linkedinButton{
    border-radius: 50%;
    width: fit-content;
}

.linkedinButton:hover .inicon{
    opacity: .5;
    transition: opacity .15s;
}

.linkedinButton:active .inicon{
    opacity: .25;
    transition: opacity .15s;
}