body {
    background-color: rgb(218, 161, 104);
}

.pwebsite{
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite !important;
    display: flex;
}

.pwebsite-img{
    border-radius: 50%;
    height: 50vh;
    margin-left: 5vw;
    margin-right: 2vw;
}

.table{
    background-color: rgb(98, 66, 43) !important;
    height: fit-content;
    padding: .5%;
    align-self:last baseline;
    border-radius: 5%;
    margin-bottom: 2vh;
}

* {
    background-color: transparent;
}

.title{
    text-align: left;
    font-size: 30px;
    padding-right: 10px;
}

.subtitle{
    text-align: left;
    padding-right: 10px;
}

.resicon{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 50px;
    width: 50px;
}

.resumeButton{
    border-radius: 50%;
    width: fit-content;
    border: none;
    border-width: 0;
}

.resicon:hover{
    opacity: .7;
    transition: opacity .15s;
}

.resicon:active{
    opacity: .5;
    transition: opacity .15s;
}

.inicon{
    border-radius: 50%;
    width: 50px;
}

.linkedinButton{
    border-radius: 50%;
    width: fit-content;
    border: none;
    border-width: 0;
    margin-right: 10px;
}

.inicon:hover{
    opacity: .7;
    transition: opacity .15s;
}

.inicon:active{
    opacity: .5;
    transition: opacity .15s;
}

.aboutBox{
    display: flex;
    height: 100%;
}

.leftside{
    width: fit-content;
}

.about{
    background-color: antiquewhite;
    padding: .05%;
    width: 90%;
    float: left;
    height: fit-content;
    text-align: center;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 1vw;
}

.experience{
    background-color:antiquewhite;
    width: 90%;
    float: left;
    height: fit-content;
    margin-left: 1vw;
    padding-left: 1vw;
}

.languages{
    background-color: antiquewhite;
    float: right;
    width: 50vw;
    height: fit-content;
    padding: 1%;
    margin-right: 3vw;
    
}

.headerContainer{
    background-color: transparent;
    justify-content: center;
    display: flex;
    margin-bottom: 2vh;
}

.javaContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.jsvg{
    margin-right: 10%;
    display: block;
}

.javaRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unjavaRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.jtext{
    font-size: large;
    align-content: first baseline;
}

.pyContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.psvg{
    margin-right: 10%;
    display: block;
}

.pyRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unpyRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.pytext{
    font-size: large;
    align-content: first baseline;
}

.cContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.csvg{
    margin-right: 10%;
    display: block;
}

.cRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.uncRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.ctext{
    font-size: large;
    align-content: first baseline;
}

.htmlContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.htmlsvg{
    margin-right: 10%;
    display: block;
}

.htmlRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unhtmlRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.htmltext{
    font-size: large;
    align-content: first baseline;
}

.cssContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.csssvg{
    margin-right: 10%;
    display: block;
}

.cssRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.uncssRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.csstext{
    font-size: large;
    align-content: first baseline;
}

.rContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.rsvg{
    margin-right: 10%;
    display: block;
}

.rRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unrRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.rtext{
    font-size: large;
    align-content: first baseline;
}