body {
    background-color: rgb(206, 150, 94);
}

.pwebsite{
    padding-top: 7vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(205, 173, 141) !important;
    display: flex;
    border: .2vh solid black;
    flex-direction: row;
    min-width: fit-content;
}

@media(max-width: 600px){
    .pwebsite{
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
    }

    .imgspan{
        margin-bottom: 1.5vh;
    }

    .introBox{
        margin: 0 auto;
    }

    .thelab{
        max-width: 30vh;
        align-self: center !important;
    }
}

.imgspan{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    max-width: fit-content;
    margin-right: 3vh;
    margin-left: 4vh;
}

.pwebsite-img{
    border-radius: 50%;
    height: 50vh;
}

.introBox{
    background-color: rgb(133, 92, 63) !important;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 5%;
    display: flexbox;
    width: fit-content;
    align-self: flex-end;
    min-width: fit-content;
}

.header{
 justify-content: center;
 display: inline-flex;
 width: 100%;
 min-width: fit-content;
 padding-bottom: 1vh;
}

.title{
    text-align: center;
    text-wrap: nowrap;
    font-size: 30px;
    padding-right: 1vw;
}

.subtitle{
    text-align: center;
    text-wrap: nowrap;
    align-self: center;
    padding-right: 1vw;
}

.buttons{
    display: flex;
    justify-content: center;
}

.transcriptIcon{
    border-radius: 50%;
    height: 6.5vh;
    
}

.transcriptButton{
    border-radius: 50%;
    width: fit-content;
    border: none;
    background-color: transparent;
    padding-right: 1.5vw;
}

.transcriptIcon:hover{
    opacity: .7;
    transition: opacity .15s;
}

.transcriptIcon:active{
    opacity: .5;
    transition: opacity .15s;
}

.resicon{
    border-radius: 50%;
    height: 6.5vh;
    width: 6.5vh;
}

.resumeButton{
    border-radius: 50%;
    width: fit-content;
    border: none;
    border-width: 0;
    background-color: transparent;
}

.resicon:hover{
    opacity: .7;
    transition: opacity .15s;
}

.resicon:active{
    opacity: .5;
    transition: opacity .15s;
}

.inicon{
    border-radius: 50%;
    height: 6.5vh;
}

.linkedinButton{
    border-radius: 50%;
    width: fit-content;
    border: none;
    border-width: 0;
    background-color: transparent;
    padding-right: 1.5vw;
}

.inicon:hover{
    opacity: .7;
    transition: opacity .15s;
}

.inicon:active{
    opacity: .5;
    transition: opacity .15s;
}

.thelab{
    background-color: rgb(133, 92, 63) !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    align-self: last baseline;
    border: 1px solid black;
    margin-left: 2vh;
    margin-top: 2vh;
    padding: 2vh;
}

.labStyle{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.labIcon{
    border-radius: 50%;
    height: fit-content;
    background: transparent;
}

.labButton{
    border-radius: 50%;
    width: fit-content;
    border: none;
    background-color: transparent;
}

.labTitle{
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 4vh;
    font-size: 20px;
}

.labIcon:hover{
    opacity: .7;
    transition: opacity .15s;
}

.labIcon:active{
    opacity: .5;
    transition: opacity .15s;
}

.aboutBox{
    display: flex;
    height: 100%;
}

.leftside{
    width: fit-content;
}

.about{
    background-color: antiquewhite;
    padding: .5%;
    width: 90%;
    float: left;
    height: fit-content;
    text-align: center;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 1vw;
    border: .2vh solid black;
}

.experience{
    background-color:antiquewhite;
    width: 90%;
    float: left;
    height: fit-content;
    margin-left: 1vw;
    padding-left: 1vw;
    margin-bottom: 1vh;
    border: .2vh solid black;
}

.languages{
    background-color: antiquewhite;
    float: right;
    width: 50vw;
    min-width: fit-content;
    height: fit-content;
    padding: 1%;
    margin-right: 3vw;
    border: .2vh solid black;
}

.headerContainer{
    background-color: transparent;
    justify-content: center;
    display: flex;
    margin-bottom: 2vh;
}

.javaContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.jsvg{
    margin-right: 10%;
    display: block;
}

.javaRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unjavaRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.jtext{
    font-size: large;
    align-content: first baseline;
}

.pyContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.psvg{
    margin-right: 10%;
    display: block;
}

.pyRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unpyRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.pytext{
    font-size: large;
    align-content: first baseline;
}

.cContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.csvg{
    margin-right: 10%;
    display: block;
}

.cRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.uncRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.ctext{
    font-size: large;
    align-content: first baseline;
}

.htmlContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.htmlsvg{
    margin-right: 10%;
    display: block;
}

.htmlRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unhtmlRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.htmltext{
    font-size: large;
    align-content: first baseline;
}

.cssContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.csssvg{
    margin-right: 10%;
    display: block;
}

.cssRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.uncssRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.csstext{
    font-size: large;
    align-content: first baseline;
}

.rContainer{
    display: flex;
    margin-left: 10%;
    align-content: center;
    height: 14%;
    margin-bottom: 2vh;
}

.rsvg{
    margin-right: 10%;
    display: block;
}

.rRect{
    height: 100%;
    width: 100%;
    fill: green;
}

.unrRect{
    height: 100%;
    width: 100%;
    fill: gray;
}

.rtext{
    font-size: large;
    align-content: first baseline;
}